@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    height: 0px;
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  /* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: #00000000;
    display: block;
    border-style: solid;
    height: 15px;
    width: 10px;
  }
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 7px 16px 7px;
    border-radius: 10px;
    border-color: transparent transparent #000000 transparent;
  }
  
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 16px 7px 0 7px;
    border-radius: 10px;
    border-color: #000000 transparent transparent transparent;
  }

  /* Left */
  ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 0 7px 16px 7px;
    border-radius: 10px;
    border-color: transparent transparent #000000 transparent;
  }
  
  /* Right */
  ::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 16px 7px 0 7px;
    border-radius: 10px;
    border-color: #000000 transparent transparent transparent;
  }